.linear-gradient-box {
    width: 300px;
    height: 150px;
    background: linear-gradient(to bottom, red, blue);  /* Changed this line */
    text-align: center;
    line-height: 150px;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.radial-gradient-box {
    width: 300px;
    height: 150px;
    background: radial-gradient(circle, yellow, green);
    text-align: center;
    line-height: 150px;
    color: black;
    font-weight: bold;
}